In [1]:
import sdv
import pandas as pd
print(sdv.__version__)

1.8.0

In [2]:
from sdv.metadata import SingleTableMetadata

#### Air Quality

In [3]:
df = pd.read_csv('dataset/AirQuality/AirQuality_final.csv')

In [27]:
df.drop(columns=["Date", "Time"], inplace=True)

In [28]:
df.dtypes

CO(GT)           float64
PT08.S1(CO)        int64
NMHC(GT)           int64
C6H6(GT)         float64
PT08.S2(NMHC)      int64
NOx(GT)            int64
PT08.S3(NOx)       int64
NO2(GT)            int64
PT08.S4(NO2)       int64
PT08.S5(O3)        int64
T                float64
RH               float64
AH               float64
year               int64
month              int64
day                int64
hour               int64
dtype: object

In [29]:
df.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,year,month,day,hour
0,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578,2004,10,3,18
1,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255,2004,10,3,19
2,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502,2004,10,3,20
3,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867,2004,10,3,21
4,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888,2004,10,3,22

In [30]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'CO(GT)': {'sdtype': 'numerical'}, 'PT08.S1(CO)': {'sdtype': 'numerical'}, 'NMHC(GT)': {'sdtype': 'numerical'}, 'C6H6(GT)': {'sdtype': 'numerical'}, 'PT08.S2(NMHC)': {'sdtype': 'numerical'}, 'NOx(GT)': {'sdtype': 'numerical'}, 'PT08.S3(NOx)': {'sdtype': 'numerical'}, 'NO2(GT)': {'sdtype': 'numerical'}, 'PT08.S4(NO2)': {'sdtype': 'numerical'}, 'PT08.S5(O3)': {'sdtype': 'numerical'}, 'T': {'sdtype': 'numerical'}, 'RH': {'sdtype': 'numerical'}, 'AH': {'sdtype': 'numerical'}, 'year': {'sdtype': 'categorical'}, 'month': {'sdtype': 'numerical'}, 'day': {'sdtype': 'numerical'}, 'hour': {'sdtype': 'numerical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [31]:
metadata.save_to_json(filepath='dataset/AirQuality/meta_data.json')
df.to_csv('dataset/AirQuality/AirQuality_final.csv', index=False)

### Apartment Rent

In [32]:
df = pd.read_csv("dataset/ApartmentRent/apartments_for_rent_final.csv")

In [37]:
df.head()

   bathrooms  bedrooms fee   price  square_feet       cityname state
0        1.0       1.0  No  2195.0        542.0  Redondo Beach    CA
1        1.5       3.0  No  1250.0       1500.0   Newport News    VA
2        2.0       3.0  No  1395.0       1650.0        Raleigh    NC
3        1.0       2.0  No  1600.0        820.0      Vacaville    CA
4        1.0       1.0  No   975.0        624.0    Albuquerque    NM

In [38]:
df.dtypes

bathrooms      float64
bedrooms       float64
fee             object
price          float64
square_feet    float64
cityname        object
state           object
dtype: object

In [36]:
df.drop(columns=["id"], inplace=True)

In [39]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'bathrooms': {'sdtype': 'numerical'}, 'bedrooms': {'sdtype': 'categorical'}, 'fee': {'sdtype': 'categorical'}, 'price': {'sdtype': 'numerical'}, 'square_feet': {'sdtype': 'numerical'}, 'cityname': {'sdtype': 'city', 'pii': True}, 'state': {'sdtype': 'administrative_unit', 'pii': True}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [40]:
metadata.save_to_json(filepath='dataset/ApartmentRent/meta_data.json')
df.to_csv('dataset/ApartmentRent/apartments_for_rent_final.csv', index=False)

### Bank Marketing

In [41]:
df = pd.read_csv("dataset/BankMarketing/bank-final.csv")

In [50]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,previous,poutcome,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,0,nonexistent,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,0,nonexistent,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,0,nonexistent,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,0,nonexistent,no

In [51]:
df.dtypes

age             int64
job            object
marital        object
education      object
default        object
housing        object
loan           object
contact        object
month          object
day_of_week    object
duration        int64
campaign        int64
previous        int64
poutcome       object
y              object
dtype: object

In [49]:
df.drop(columns=["pdays"],inplace=True)

In [56]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'age': {'sdtype': 'numerical'}, 'job': {'sdtype': 'categorical'}, 'marital': {'sdtype': 'categorical'}, 'education': {'sdtype': 'categorical'}, 'default': {'sdtype': 'categorical'}, 'housing': {'sdtype': 'categorical'}, 'loan': {'sdtype': 'categorical'}, 'contact': {'sdtype': 'categorical'}, 'month': {'sdtype': 'categorical'}, 'day_of_week': {'sdtype': 'categorical'}, 'duration': {'sdtype': 'numerical'}, 'campaign': {'sdtype': 'numerical'}, 'previous': {'sdtype': 'categorical'}, 'poutcome': {'sdtype': 'categorical'}, 'y': {'sdtype': 'categorical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [60]:
metadata.update_column(
    column_name='campaign',
    sdtype='categorical')
metadata.update_column(
    column_name='previous',
    sdtype='numerical')

In [61]:
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'age': {'sdtype': 'numerical'}, 'job': {'sdtype': 'categorical'}, 'marital': {'sdtype': 'categorical'}, 'education': {'sdtype': 'categorical'}, 'default': {'sdtype': 'categorical'}, 'housing': {'sdtype': 'categorical'}, 'loan': {'sdtype': 'categorical'}, 'contact': {'sdtype': 'categorical'}, 'month': {'sdtype': 'categorical'}, 'day_of_week': {'sdtype': 'categorical'}, 'duration': {'sdtype': 'numerical'}, 'campaign': {'sdtype': 'categorical'}, 'previous': {'sdtype': 'numerical'}, 'poutcome': {'sdtype': 'categorical'}, 'y': {'sdtype': 'categorical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [62]:
metadata.save_to_json(filepath='dataset/BankMarketing/meta_data.json')
df.to_csv('dataset/BankMarketing/bank-final.csv', index=False)