In [1]:
import sdv
import pandas as pd
print(sdv.__version__)

1.8.0

In [2]:
from sdv.metadata import SingleTableMetadata

#### Air Quality

In [3]:
df = pd.read_csv('dataset/AirQuality/AirQuality_final.csv')

In [27]:
df.drop(columns=["Date", "Time"], inplace=True)

In [28]:
df.dtypes

CO(GT)           float64
PT08.S1(CO)        int64
NMHC(GT)           int64
C6H6(GT)         float64
PT08.S2(NMHC)      int64
NOx(GT)            int64
PT08.S3(NOx)       int64
NO2(GT)            int64
PT08.S4(NO2)       int64
PT08.S5(O3)        int64
T                float64
RH               float64
AH               float64
year               int64
month              int64
day                int64
hour               int64
dtype: object

In [29]:
df.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,year,month,day,hour
0,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578,2004,10,3,18
1,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255,2004,10,3,19
2,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502,2004,10,3,20
3,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867,2004,10,3,21
4,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888,2004,10,3,22

In [30]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'CO(GT)': {'sdtype': 'numerical'}, 'PT08.S1(CO)': {'sdtype': 'numerical'}, 'NMHC(GT)': {'sdtype': 'numerical'}, 'C6H6(GT)': {'sdtype': 'numerical'}, 'PT08.S2(NMHC)': {'sdtype': 'numerical'}, 'NOx(GT)': {'sdtype': 'numerical'}, 'PT08.S3(NOx)': {'sdtype': 'numerical'}, 'NO2(GT)': {'sdtype': 'numerical'}, 'PT08.S4(NO2)': {'sdtype': 'numerical'}, 'PT08.S5(O3)': {'sdtype': 'numerical'}, 'T': {'sdtype': 'numerical'}, 'RH': {'sdtype': 'numerical'}, 'AH': {'sdtype': 'numerical'}, 'year': {'sdtype': 'categorical'}, 'month': {'sdtype': 'numerical'}, 'day': {'sdtype': 'numerical'}, 'hour': {'sdtype': 'numerical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [31]:
metadata.save_to_json(filepath='dataset/AirQuality/meta_data.json')
df.to_csv('dataset/AirQuality/AirQuality_final.csv', index=False)

### Apartment Rent

In [32]:
df = pd.read_csv("dataset/ApartmentRent/apartments_for_rent_final.csv")

In [37]:
df.head()

   bathrooms  bedrooms fee   price  square_feet       cityname state
0        1.0       1.0  No  2195.0        542.0  Redondo Beach    CA
1        1.5       3.0  No  1250.0       1500.0   Newport News    VA
2        2.0       3.0  No  1395.0       1650.0        Raleigh    NC
3        1.0       2.0  No  1600.0        820.0      Vacaville    CA
4        1.0       1.0  No   975.0        624.0    Albuquerque    NM

In [38]:
df.dtypes

bathrooms      float64
bedrooms       float64
fee             object
price          float64
square_feet    float64
cityname        object
state           object
dtype: object

In [36]:
df.drop(columns=["id"], inplace=True)

In [39]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'bathrooms': {'sdtype': 'numerical'}, 'bedrooms': {'sdtype': 'categorical'}, 'fee': {'sdtype': 'categorical'}, 'price': {'sdtype': 'numerical'}, 'square_feet': {'sdtype': 'numerical'}, 'cityname': {'sdtype': 'city', 'pii': True}, 'state': {'sdtype': 'administrative_unit', 'pii': True}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [40]:
metadata.save_to_json(filepath='dataset/ApartmentRent/meta_data.json')
df.to_csv('dataset/ApartmentRent/apartments_for_rent_final.csv', index=False)

### Bank Marketing

In [41]:
df = pd.read_csv("dataset/BankMarketing/bank-final.csv")

In [50]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,previous,poutcome,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,0,nonexistent,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,0,nonexistent,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,0,nonexistent,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,0,nonexistent,no

In [51]:
df.dtypes

age             int64
job            object
marital        object
education      object
default        object
housing        object
loan           object
contact        object
month          object
day_of_week    object
duration        int64
campaign        int64
previous        int64
poutcome       object
y              object
dtype: object

In [49]:
df.drop(columns=["pdays"],inplace=True)

In [56]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'age': {'sdtype': 'numerical'}, 'job': {'sdtype': 'categorical'}, 'marital': {'sdtype': 'categorical'}, 'education': {'sdtype': 'categorical'}, 'default': {'sdtype': 'categorical'}, 'housing': {'sdtype': 'categorical'}, 'loan': {'sdtype': 'categorical'}, 'contact': {'sdtype': 'categorical'}, 'month': {'sdtype': 'categorical'}, 'day_of_week': {'sdtype': 'categorical'}, 'duration': {'sdtype': 'numerical'}, 'campaign': {'sdtype': 'numerical'}, 'previous': {'sdtype': 'categorical'}, 'poutcome': {'sdtype': 'categorical'}, 'y': {'sdtype': 'categorical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [60]:
metadata.update_column(
    column_name='campaign',
    sdtype='categorical')
metadata.update_column(
    column_name='previous',
    sdtype='numerical')

In [61]:
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'age': {'sdtype': 'numerical'}, 'job': {'sdtype': 'categorical'}, 'marital': {'sdtype': 'categorical'}, 'education': {'sdtype': 'categorical'}, 'default': {'sdtype': 'categorical'}, 'housing': {'sdtype': 'categorical'}, 'loan': {'sdtype': 'categorical'}, 'contact': {'sdtype': 'categorical'}, 'month': {'sdtype': 'categorical'}, 'day_of_week': {'sdtype': 'categorical'}, 'duration': {'sdtype': 'numerical'}, 'campaign': {'sdtype': 'categorical'}, 'previous': {'sdtype': 'numerical'}, 'poutcome': {'sdtype': 'categorical'}, 'y': {'sdtype': 'categorical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [62]:
metadata.save_to_json(filepath='dataset/BankMarketing/meta_data.json')
df.to_csv('dataset/BankMarketing/bank-final.csv', index=False)

### Beijing PM

In [3]:
df = pd.read_csv("dataset/BeijingPM/PRSA_data_final.csv")

In [4]:
df.shape

(41757, 12)

In [5]:
df.head()

   year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd   Iws  Is  Ir
0  2010      1    2     0  129.0   -16  -4.0  1020.0   SE  1.79   0   0
1  2010      1    2     1  148.0   -15  -4.0  1020.0   SE  2.68   0   0
2  2010      1    2     2  159.0   -11  -5.0  1021.0   SE  3.57   0   0
3  2010      1    2     3  181.0    -7  -5.0  1022.0   SE  5.36   1   0
4  2010      1    2     4  138.0    -7  -5.0  1022.0   SE  6.25   2   0

In [6]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'year': {'sdtype': 'categorical'}, 'month': {'sdtype': 'numerical'}, 'day': {'sdtype': 'numerical'}, 'hour': {'sdtype': 'numerical'}, 'pm2.5': {'sdtype': 'numerical'}, 'DEWP': {'sdtype': 'numerical'}, 'TEMP': {'sdtype': 'numerical'}, 'PRES': {'sdtype': 'numerical'}, 'cbwd': {'sdtype': 'categorical'}, 'Iws': {'sdtype': 'numerical'}, 'Is': {'sdtype': 'numerical'}, 'Ir': {'sdtype': 'numerical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [14]:
metadata.update_column(
    column_name='month',
    sdtype='categorical')
metadata.update_column(
    column_name='day',
    sdtype='categorical')
metadata.update_column(
    column_name='hour',
    sdtype='categorical')

In [15]:
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'year': {'sdtype': 'categorical'}, 'month': {'sdtype': 'categorical'}, 'day': {'sdtype': 'categorical'}, 'hour': {'sdtype': 'categorical'}, 'pm2.5': {'sdtype': 'numerical'}, 'DEWP': {'sdtype': 'numerical'}, 'TEMP': {'sdtype': 'numerical'}, 'PRES': {'sdtype': 'numerical'}, 'cbwd': {'sdtype': 'categorical'}, 'Iws': {'sdtype': 'numerical'}, 'Is': {'sdtype': 'numerical'}, 'Ir': {'sdtype': 'numerical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [16]:
metadata.save_to_json(filepath='dataset/BeijingPM/meta_data.json')

### Bike Sharing

In [21]:
df = pd.read_csv("dataset/BikeSharing/final.csv")

In [33]:
df.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,1,2011,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,1,2011,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,1,2011,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,1,2011,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [29]:
df.loc[df["yr"] == 0, "yr"] = 2011
df.loc[df["yr"] == 1, "yr"] = 2012

In [32]:
df.drop(columns=["dteday"], inplace=True)

In [38]:
df["workingday"].value_counts()

workingday
1    11865
0     5514
Name: count, dtype: int64

In [35]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'season': {'sdtype': 'categorical'}, 'yr': {'sdtype': 'categorical'}, 'mnth': {'sdtype': 'numerical'}, 'hr': {'sdtype': 'numerical'}, 'holiday': {'sdtype': 'categorical'}, 'weekday': {'sdtype': 'categorical'}, 'workingday': {'sdtype': 'categorical'}, 'weathersit': {'sdtype': 'categorical'}, 'temp': {'sdtype': 'numerical'}, 'atemp': {'sdtype': 'numerical'}, 'hum': {'sdtype': 'numerical'}, 'windspeed': {'sdtype': 'numerical'}, 'casual': {'sdtype': 'numerical'}, 'registered': {'sdtype': 'numerical'}, 'cnt': {'sdtype': 'numerical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [40]:
metadata.update_column(
    column_name='mnth',
    sdtype='categorical')
metadata.update_column(
    column_name='hr',
    sdtype='categorical')
metadata.update_column(
    column_name='holiday',
    sdtype='boolean')
metadata.update_column(
    column_name='workingday',
    sdtype='boolean')

In [41]:
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'season': {'sdtype': 'categorical'}, 'yr': {'sdtype': 'categorical'}, 'mnth': {'sdtype': 'categorical'}, 'hr': {'sdtype': 'categorical'}, 'holiday': {'sdtype': 'boolean'}, 'weekday': {'sdtype': 'categorical'}, 'workingday': {'sdtype': 'boolean'}, 'weathersit': {'sdtype': 'categorical'}, 'temp': {'sdtype': 'numerical'}, 'atemp': {'sdtype': 'numerical'}, 'hum': {'sdtype': 'numerical'}, 'windspeed': {'sdtype': 'numerical'}, 'casual': {'sdtype': 'numerical'}, 'registered': {'sdtype': 'numerical'}, 'cnt': {'sdtype': 'numerical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [42]:
metadata.save_to_json(filepath='dataset/BikeSharing/meta_data.json')
df.to_csv('dataset/BikeSharing/final.csv', index=False)

### HAR 70

In [55]:
df = pd.read_csv("dataset/HAR70/final.csv")

In [56]:
df.head()

,timestamp,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z,label
0,2021-03-24 14:42:03.839,-0.999023,-0.063477,0.140625,-0.980469,-0.112061,-0.048096,6
1,2021-03-24 14:42:03.859,-0.980225,-0.079346,0.140625,-0.961182,-0.121582,-0.051758,6
2,2021-03-24 14:42:03.880,-0.950195,-0.076416,0.140625,-0.949463,-0.080566,-0.067139,6
3,2021-03-24 14:42:03.900,-0.954834,-0.059082,0.140381,-0.957520,-0.046143,-0.050781,6
4,2021-03-24 14:42:03.920,-0.972412,-0.042969,0.142822,-0.977051,-0.023682,-0.026611,6

In [58]:
df.dtypes

timestamp     object
back_x       float64
back_y       float64
back_z       float64
thigh_x      float64
thigh_y      float64
thigh_z      float64
label          int64
dtype: object

In [59]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'timestamp': {'sdtype': 'datetime', 'datetime_format': '%Y-%m-%d %H:%M:%S.%f'}, 'back_x': {'sdtype': 'numerical'}, 'back_y': {'sdtype': 'numerical'}, 'back_z': {'sdtype': 'numerical'}, 'thigh_x': {'sdtype': 'numerical'}, 'thigh_y': {'sdtype': 'numerical'}, 'thigh_z': {'sdtype': 'numerical'}, 'label': {'sdtype': 'categorical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [49]:
metadata.update_column(
    column_name='checkin_date',
    sdtype='datetime',
    datetime_format='%d %b %Y')

0

In [60]:
metadata.save_to_json(filepath='dataset/HAR70/meta_data.json')

### House Power Consumption

In [108]:
df = pd.read_csv("dataset/HouseholdPowerConsumption/household_power_consumption_final.csv", low_memory=False)

In [109]:
df.shape

(2075259, 9)

In [118]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,datetime
0,4.216,0.418,234.84,18.4,0.0,1.0,17.0,2006-12-16 17:24:00
1,5.360,0.436,233.63,23.0,0.0,1.0,16.0,2006-12-16 17:25:00
2,5.374,0.498,233.29,23.0,0.0,2.0,17.0,2006-12-16 17:26:00
3,5.388,0.502,233.74,23.0,0.0,1.0,17.0,2006-12-16 17:27:00
4,3.666,0.528,235.68,15.8,0.0,1.0,17.0,2006-12-16 17:28:00

In [111]:
df["datetime"] = df["Date"]+" "+df["Time"]

In [112]:
df['datetime'] = pd.to_datetime(df['datetime'], format="%d/%m/%Y %H:%M:%S").dt.strftime("%Y-%m-%d %H:%M:%S")

In [113]:
df.drop(columns=["Date", "Time"], inplace=True)

In [114]:
df["Global_active_power"] = pd.to_numeric(df['Global_active_power'], errors='coerce')
df["Global_reactive_power"] = pd.to_numeric(df['Global_reactive_power'], errors='coerce')
df["Voltage"] = pd.to_numeric(df['Voltage'], errors='coerce')
df["Global_intensity"] = pd.to_numeric(df['Global_intensity'], errors='coerce')
df["Sub_metering_1"] = pd.to_numeric(df['Sub_metering_1'], errors='coerce')
df["Sub_metering_2"] = pd.to_numeric(df['Sub_metering_2'], errors='coerce')
df["Sub_metering_3"] = pd.to_numeric(df['Sub_metering_3'], errors='coerce')

In [117]:
df.dtypes

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
datetime                  object
dtype: object

In [78]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'Global_active_power': {'sdtype': 'numerical'}, 'Global_reactive_power': {'sdtype': 'numerical'}, 'Voltage': {'sdtype': 'numerical'}, 'Global_intensity': {'sdtype': 'numerical'}, 'Sub_metering_1': {'sdtype': 'numerical'}, 'Sub_metering_2': {'sdtype': 'numerical'}, 'Sub_metering_3': {'sdtype': 'numerical'}, 'datetime': {'sdtype': 'datetime', 'datetime_format': '%Y-%m-%d %H:%M:%S'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [116]:
# metadata.save_to_json(filepath='dataset/HouseholdPowerConsumption/meta_data.json')
df.to_csv("dataset/HouseholdPowerConsumption/household_power_consumption_final.csv", index=False)

### Metro Interstate Traffic

In [80]:
df = pd.read_csv("dataset/MetroInterstateTraffic/Metro_Interstate_Traffic_Volume_Final.csv")

In [81]:
df.shape

(48204, 9)

In [82]:
df.dtypes

holiday                 object
temp                   float64
rain_1h                float64
snow_1h                float64
clouds_all               int64
weather_main            object
weather_description     object
date_time               object
traffic_volume           int64
dtype: object

In [83]:
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,Nothing,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,Nothing,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,Nothing,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,Nothing,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,Nothing,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [85]:
df["holiday"].value_counts()

holiday
Nothing                      48143
Labor Day                        7
Thanksgiving Day                 6
Christmas Day                    6
New Years Day                    6
Martin Luther King Jr Day        6
Columbus Day                     5
Veterans Day                     5
Washingtons Birthday             5
Memorial Day                     5
Independence Day                 5
State Fair                       5
Name: count, dtype: int64

In [86]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'holiday': {'sdtype': 'categorical'}, 'temp': {'sdtype': 'numerical'}, 'rain_1h': {'sdtype': 'numerical'}, 'snow_1h': {'sdtype': 'numerical'}, 'clouds_all': {'sdtype': 'numerical'}, 'weather_main': {'sdtype': 'categorical'}, 'weather_description': {'sdtype': 'categorical'}, 'date_time': {'sdtype': 'datetime', 'datetime_format': '%Y-%m-%d %H:%M:%S'}, 'traffic_volume': {'sdtype': 'numerical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [87]:
metadata.save_to_json(filepath='dataset/MetroInterstateTraffic/meta_data.json')

### Metro PT

In [88]:
df = pd.read_csv("dataset/MetroPTDataset/MetroPT3_final.csv")

In [89]:
df.shape

(1516948, 16)

In [90]:
df.head()

,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses
0,2020-02-01 00:00:00,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
1,2020-02-01 00:00:10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
2,2020-02-01 00:00:19,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
3,2020-02-01 00:00:29,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
4,2020-02-01 00:00:39,-0.012,9.318,9.302,-0.022,9.318,53.475,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0

In [95]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'timestamp': {'sdtype': 'datetime', 'datetime_format': '%Y-%m-%d %H:%M:%S'}, 'TP2': {'sdtype': 'numerical'}, 'TP3': {'sdtype': 'numerical'}, 'H1': {'sdtype': 'numerical'}, 'DV_pressure': {'sdtype': 'numerical'}, 'Reservoirs': {'sdtype': 'numerical'}, 'Oil_temperature': {'sdtype': 'numerical'}, 'Motor_current': {'sdtype': 'numerical'}, 'COMP': {'sdtype': 'categorical'}, 'DV_eletric': {'sdtype': 'categorical'}, 'Towers': {'sdtype': 'categorical'}, 'MPG': {'sdtype': 'categorical'}, 'LPS': {'sdtype': 'categorical'}, 'Pressure_switch': {'sdtype': 'categorical'}, 'Oil_level': {'sdtype': 'categorical'}, 'Caudal_impulses': {'sdtype': 'categorical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [97]:
metadata.update_column(
    column_name='COMP',
    sdtype='boolean')
metadata.update_column(
    column_name='DV_eletric',
    sdtype='boolean')
metadata.update_column(
    column_name='Towers',
    sdtype='boolean')
metadata.update_column(
    column_name='MPG',
    sdtype='boolean')
metadata.update_column(
    column_name='LPS',
    sdtype='boolean')
metadata.update_column(
    column_name='Pressure_switch',
    sdtype='boolean')
metadata.update_column(
    column_name='Oil_level',
    sdtype='boolean')
metadata.update_column(
    column_name='Caudal_impulses',
    sdtype='boolean')

In [98]:
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'timestamp': {'sdtype': 'datetime', 'datetime_format': '%Y-%m-%d %H:%M:%S'}, 'TP2': {'sdtype': 'numerical'}, 'TP3': {'sdtype': 'numerical'}, 'H1': {'sdtype': 'numerical'}, 'DV_pressure': {'sdtype': 'numerical'}, 'Reservoirs': {'sdtype': 'numerical'}, 'Oil_temperature': {'sdtype': 'numerical'}, 'Motor_current': {'sdtype': 'numerical'}, 'COMP': {'sdtype': 'boolean'}, 'DV_eletric': {'sdtype': 'boolean'}, 'Towers': {'sdtype': 'boolean'}, 'MPG': {'sdtype': 'boolean'}, 'LPS': {'sdtype': 'boolean'}, 'Pressure_switch': {'sdtype': 'boolean'}, 'Oil_level': {'sdtype': 'boolean'}, 'Caudal_impulses': {'sdtype': 'boolean'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [99]:
metadata.save_to_json(filepath='dataset/MetroPTDataset/meta_data.json')

### Weather Dataset

In [119]:
df = pd.read_csv("dataset/WeatherDataset/weatherHistory_final.csv")

In [120]:
df.shape

(96453, 10)

In [124]:
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
0,2006-03-31 22:00:00,Partly Cloudy,rain,9.47,7.39,0.89,14.12,251,15.83,1015.13
1,2006-03-31 23:00:00,Partly Cloudy,rain,9.36,7.23,0.86,14.26,259,15.83,1015.63
2,2006-04-01 00:00:00,Mostly Cloudy,rain,9.38,9.38,0.89,3.93,204,14.96,1015.94
3,2006-04-01 01:00:00,Partly Cloudy,rain,8.29,5.94,0.83,14.10,269,15.83,1016.41
4,2006-04-01 02:00:00,Mostly Cloudy,rain,8.76,6.98,0.83,11.04,259,15.83,1016.51

In [125]:
df.dtypes

Formatted Date               object
Summary                      object
Precip Type                  object
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)        int64
Visibility (km)             float64
Pressure (millibars)        float64
dtype: object

In [123]:
df['Formatted Date'] = pd.to_datetime(df['Formatted Date']).dt.strftime("%Y-%m-%d %H:%M:%S")

In [126]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)
python_dict = metadata.to_dict()
print(python_dict)

{'columns': {'Formatted Date': {'sdtype': 'datetime', 'datetime_format': '%Y-%m-%d %H:%M:%S'}, 'Summary': {'sdtype': 'categorical'}, 'Precip Type': {'sdtype': 'categorical'}, 'Temperature (C)': {'sdtype': 'numerical'}, 'Apparent Temperature (C)': {'sdtype': 'numerical'}, 'Humidity': {'sdtype': 'numerical'}, 'Wind Speed (km/h)': {'sdtype': 'numerical'}, 'Wind Bearing (degrees)': {'sdtype': 'numerical'}, 'Visibility (km)': {'sdtype': 'numerical'}, 'Pressure (millibars)': {'sdtype': 'numerical'}}, 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [128]:
metadata.save_to_json(filepath='dataset/WeatherDataset/meta_data.json')