In [1]:
import sdv
import pandas as pd
print(sdv.__version__)

1.8.0

## Metadata Detection

In [3]:
from sdv.metadata import SingleTableMetadata

In [4]:
metadata = SingleTableMetadata()

### Air Quality

In [10]:
df = pd.read_csv("dataset/AirQuality/AirQualityUCI.csv", sep=";")

In [13]:
df.drop(columns=["Unnamed: 15", ",,,,,"], inplace=True)

In [20]:
df["CO(GT)"]=df["CO(GT)"].str.replace(",",".").astype(float)
df["C6H6(GT)"]=df["C6H6(GT)"].str.replace(",",".").astype(float)
df["T"]=df["T"].str.replace(",",".").astype(float)
df["RH"]=df["RH"].str.replace(",",".").astype(float)
df["AH"]=df["AH"].str.replace(",",".").astype(float)

In [37]:
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,year,month,day,hour
0,10/03/2004,18.00.00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578,2004,10,3,18
1,10/03/2004,19.00.00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255,2004,10,3,19
2,10/03/2004,20.00.00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502,2004,10,3,20
3,10/03/2004,21.00.00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867,2004,10,3,21
4,10/03/2004,22.00.00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888,2004,10,3,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,04/04/2005,10.00.00,3.1,1314,-200,13.5,1101,472,539,190,1374,1729,21.9,29.3,0.7568,2005,4,4,10
9353,04/04/2005,11.00.00,2.4,1163,-200,11.4,1027,353,604,179,1264,1269,24.3,23.7,0.7119,2005,4,4,11
9354,04/04/2005,12.00.00,2.4,1142,-200,12.4,1063,293,603,175,1241,1092,26.9,18.3,0.6406,2005,4,4,12
9355,04/04/2005,13.00.00,2.1,1003,-200,9.5,961,235,702,156,1041,770,28.3,13.5,0.5139,2005,4,4,13
9356,04/04/2005,14.00.00,2.2,1071,-200,11.9,1047,265,654,168,1129,816,28.5,13.1,0.5028,2005,4,4,14

In [33]:
df['hour'] = df['Time'].str.split('.').str[0].astype(int)
df['year'] = df['Date'].str.split('/').str[2].astype(int)
df['month'] = df['Date'].str.split('/').str[0].astype(int)
df['day'] = df['Date'].str.split('/').str[1].astype(int)

In [22]:
df.dtypes

Date              object
Time              object
CO(GT)           float64
PT08.S1(CO)        int64
NMHC(GT)           int64
C6H6(GT)         float64
PT08.S2(NMHC)      int64
NOx(GT)            int64
PT08.S3(NOx)       int64
NO2(GT)            int64
PT08.S4(NO2)       int64
PT08.S5(O3)        int64
T                float64
RH               float64
AH               float64
dtype: object

In [38]:
df["year"].nunique()

2

In [24]:
df["Time"].nunique()

24

In [39]:
df.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,year,month,day,hour
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
mean,-34.207524,1048.990061,-159.090093,1.865683,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,9.778305,39.485380,-6.837604,2004.240141,15.876884,6.310356,11.498557
std,77.657170,329.832710,139.789093,41.380206,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,43.203623,51.216145,38.976670,0.427192,8.808653,3.438160,6.923182
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,2004.000000,1.000000,1.000000,0.000000
25%,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692300,2004.000000,8.000000,3.000000,5.000000
50%,1.500000,1053.000000,-200.000000,7.900000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.600000,0.976800,2004.000000,16.000000,6.000000,11.000000
75%,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200,2004.000000,23.000000,9.000000,18.000000
max,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000,2005.000000,31.000000,12.000000,23.000000

In [40]:
df.to_csv("dataset/AirQuality/AirQuality-Clean.csv", index=False)

## Apartment for Rent

In [29]:
df = pd.read_csv("dataset/ApartmentRent/apartments_for_rent_classified_edited.csv", low_memory=False)

In [30]:
df.drop(df.columns.difference(['id', 'bathrooms', 'bedrooms', 'fee', 'price', 'square_feet', 'cityname', 'state']),axis=1,inplace=True)
# df.drop(df.columns.difference(['id', 'bathrooms', 'bedrooms', 'currency', 'fee','pets_allowed', 'price', 'price_type', 'square_feet', 'cityname', 'state', 'latitude', 'longitude', 'source', 'time']),axis=1,inplace=True)

In [31]:
df.head()

           id bathrooms bedrooms fee price square_feet       cityname state
0  5668640009         1        1  No  2195         542  Redondo Beach    CA
1  5668639818       1.5        3  No  1250        1500   Newport News    VA
2  5668639686         2        3  No  1395        1650        Raleigh    NC
3  5668639659         1        2  No  1600         820      Vacaville    CA
4  5668639374         1        1  No   975         624    Albuquerque    NM

In [32]:
df.shape

(99826, 8)

In [33]:
df["bathrooms"] = pd.to_numeric(df["bathrooms"], errors='coerce' )
df["bedrooms"] = pd.to_numeric(df["bedrooms"], errors='coerce' )
df["price"] = pd.to_numeric(df["price"], errors='coerce' )
df["square_feet"] = pd.to_numeric(df["square_feet"], errors='coerce' )

In [34]:
df = df.dropna(subset=["bathrooms", "bedrooms", "price", "square_feet", "state", "cityname"])

In [44]:
df.shape

(99004, 8)

In [45]:
df.to_csv("dataset/ApartmentRent/apartments_for_rent_final.csv", index=False)

In [28]:
df.dropna(subset=["bedrooms"]).shape

(99303, 13)

## Marketing

In [57]:
df = pd.read_csv("dataset/BankMarketing/bank-additional-full.csv", sep=";")

In [59]:
df.drop(columns=["emp.var.rate", "cons.price.idx", "euribor3m", "nr.employed", "cons.conf.idx"], inplace=True)

In [60]:
df.shape

(41188, 17)

In [66]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,no

In [68]:
df.to_csv("dataset/BankMarketing/bank-final.csv", index=False)

## PM

In [69]:
df = pd.read_csv("dataset/BeijingPM/PRSA_data_2010.1.1-2014.12.31.csv")

In [70]:
df.shape

(43824, 13)

In [88]:
df.head()

    year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd   Iws  Is  Ir
24  2010      1    2     0  129.0   -16  -4.0  1020.0   SE  1.79   0   0
25  2010      1    2     1  148.0   -15  -4.0  1020.0   SE  2.68   0   0
26  2010      1    2     2  159.0   -11  -5.0  1021.0   SE  3.57   0   0
27  2010      1    2     3  181.0    -7  -5.0  1022.0   SE  5.36   1   0
28  2010      1    2     4  138.0    -7  -5.0  1022.0   SE  6.25   2   0

In [87]:
df.drop(columns=["No"], inplace=True)

In [83]:
df.dropna(inplace=True)

In [85]:
df.isna().sum()

No       0
year     0
month    0
day      0
hour     0
pm2.5    0
DEWP     0
TEMP     0
PRES     0
cbwd     0
Iws      0
Is       0
Ir       0
dtype: int64

In [89]:
df.to_csv("dataset/BeijingPM/PRSA_data_final.csv", index=False)

## Sharing

In [94]:
df = pd.read_csv("dataset/BikeSharing/hour.csv")

In [95]:
df.shape

(17379, 17)

In [96]:
df.drop(columns=["instant"], inplace=True)

In [97]:
df.head()

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [98]:
df.to_csv("dataset/BikeSharing/final.csv", index=False)

## Diabetes

In [99]:
df = pd.read_csv("dataset/Diabetes/diabetic_data.csv")
df1 = pd.read_csv("dataset/Diabetes/IDS_mapping.csv")

In [100]:
df.shape, df1.shape

((101766, 50), (67, 2))

In [102]:
df1

   admission_type_id                                        description
0                  1                                          Emergency
1                  2                                             Urgent
2                  3                                           Elective
3                  4                                            Newborn
4                  5                                      Not Available
..               ...                                                ...
62                22   Transfer from hospital inpt/same fac reslt in...
63                23                          Born inside this hospital
64                24                         Born outside this hospital
65                25            Transfer from Ambulatory Surgery Center
66                26                              Transfer from Hospice

[67 rows x 2 columns]

In [110]:
df.drop(columns=["encounter_id", "patient_nbr", "payer_code", "discharge_disposition_id", "admission_source_id", "weight"], inplace=True)

In [111]:
df.head()

,race,gender,age,admission_type_id,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),6,1,Pediatrics-Endocrinology,41,0,1,0,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),1,3,?,59,0,18,0,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),1,2,?,11,5,13,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),1,2,?,44,1,16,0,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,1,?,51,0,8,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [107]:
df["max_glu_serum"].isna().sum()

96420

In [112]:
df.groupby("age").count()

,race,gender,admission_type_id,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
age,,,,,,,,,,,,,,,,,,,,,
[0-10),161,161,161,161,161,161,161,161,161,161,...,161,161,161,161,161,161,161,161,161,161
[10-20),691,691,691,691,691,691,691,691,691,691,...,691,691,691,691,691,691,691,691,691,691
[20-30),1657,1657,1657,1657,1657,1657,1657,1657,1657,1657,...,1657,1657,1657,1657,1657,1657,1657,1657,1657,1657
[30-40),3775,3775,3775,3775,3775,3775,3775,3775,3775,3775,...,3775,3775,3775,3775,3775,3775,3775,3775,3775,3775
[40-50),9685,9685,9685,9685,9685,9685,9685,9685,9685,9685,...,9685,9685,9685,9685,9685,9685,9685,9685,9685,9685
[50-60),17256,17256,17256,17256,17256,17256,17256,17256,17256,17256,...,17256,17256,17256,17256,17256,17256,17256,17256,17256,17256
[60-70),22483,22483,22483,22483,22483,22483,22483,22483,22483,22483,...,22483,22483,22483,22483,22483,22483,22483,22483,22483,22483
[70-80),26068,26068,26068,26068,26068,26068,26068,26068,26068,26068,...,26068,26068,26068,26068,26068,26068,26068,26068,26068,26068
[80-90),17197,17197,17197,17197,17197,17197,17197,17197,17197,17197,...,17197,17197,17197,17197,17197,17197,17197,17197,17197,17197
[90-100),2793,2793,2793,2793,2793,2793,2793,2793,2793,2793,...,2793,2793,2793,2793,2793,2793,2793,2793,2793,2793

In [113]:
df.to_csv("dataset/Diabetes/diabetic_data_final.csv", index=False)

## Sensor

In [114]:
df = pd.read_csv("dataset/EnvironmentalSensorTelemetry/iot_telemetry_data.csv")

In [115]:
df.shape

(405184, 9)

In [116]:
df.head()

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,1.594512e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.594512e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.594512e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.594512e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000

In [117]:
df.groupby("device").count()

,ts,co,humidity,light,lpg,motion,smoke,temp
device,,,,,,,,
00:0f:00:70:91:0a,111815,111815,111815,111815,111815,111815,111815,111815
1c:bf:ce:15:ec:4d,105918,105918,105918,105918,105918,105918,105918,105918
b8:27:eb:bf:9d:51,187451,187451,187451,187451,187451,187451,187451,187451

## Geolocation

In [128]:
df = pd.read_csv("Dataset/GeolocationData/cities.csv")

In [129]:
df.shape

(148061, 11)

In [132]:
df.head()

,name,state_code,state_name,country_code,country_name,latitude,longitude
0,Ashkāsham,BDS,Badakhshan,AF,Afghanistan,36.68333,71.53333
1,Fayzabad,BDS,Badakhshan,AF,Afghanistan,37.11664,70.58002
2,Jurm,BDS,Badakhshan,AF,Afghanistan,36.86477,70.83421
3,Khandūd,BDS,Badakhshan,AF,Afghanistan,36.95127,72.31800
4,Rāghistān,BDS,Badakhshan,AF,Afghanistan,37.66079,70.67346

In [131]:
df.drop(columns=["wikiDataId", "country_id", "state_id","id"] , inplace=True)

In [133]:
df.to_csv("dataset/GeolocationData/final.csv", index=False)

## HAR70

In [138]:
data = [] 
for i in range(17):
    df1 = pd.read_csv(f"dataset/HAR70/har70plus/{str(501+i)}.csv")
    cols = df.columns
    data.append(df1)
    
df = pd.concat(data, ignore_index=True)

In [139]:
df.shape

(2117883, 8)

In [140]:
df.head()

,timestamp,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z,label
0,2021-03-24 14:42:03.839,-0.999023,-0.063477,0.140625,-0.980469,-0.112061,-0.048096,6
1,2021-03-24 14:42:03.859,-0.980225,-0.079346,0.140625,-0.961182,-0.121582,-0.051758,6
2,2021-03-24 14:42:03.880,-0.950195,-0.076416,0.140625,-0.949463,-0.080566,-0.067139,6
3,2021-03-24 14:42:03.900,-0.954834,-0.059082,0.140381,-0.957520,-0.046143,-0.050781,6
4,2021-03-24 14:42:03.920,-0.972412,-0.042969,0.142822,-0.977051,-0.023682,-0.026611,6

In [141]:
df.to_csv("dataset/HAR70/final.csv", index=False)

## Power

In [147]:
df = pd.read_csv("dataset/HouseholdPowerConsumption/household_power_consumption.csv", encoding="utf-8", sep=";", low_memory=False)

In [148]:
df.shape

(2075259, 9)

In [149]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [150]:
df.to_csv("dataset/HouseholdPowerConsumption/household_power_consumption_final.csv", index=False)

## Metro

In [151]:
df = pd.read_csv("dataset/MetroInterstateTraffic/Metro_Interstate_Traffic_Volume.csv")

In [156]:
df["holiday"].fillna("Nothing", inplace=True)

In [152]:
df.shape

(48204, 9)

In [158]:
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,Nothing,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,Nothing,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,Nothing,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,Nothing,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,Nothing,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [157]:
df.groupby("holiday").count()

,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
holiday,,,,,,,,
Christmas Day,6,6,6,6,6,6,6,6
Columbus Day,5,5,5,5,5,5,5,5
Independence Day,5,5,5,5,5,5,5,5
Labor Day,7,7,7,7,7,7,7,7
Martin Luther King Jr Day,6,6,6,6,6,6,6,6
Memorial Day,5,5,5,5,5,5,5,5
New Years Day,6,6,6,6,6,6,6,6
Nothing,48143,48143,48143,48143,48143,48143,48143,48143
State Fair,5,5,5,5,5,5,5,5
Thanksgiving Day,6,6,6,6,6,6,6,6
Veterans Day,5,5,5,5,5,5,5,5
Washingtons Birthday,5,5,5,5,5,5,5,5

In [159]:
df.to_csv("dataset/MetroInterstateTraffic/Metro_Interstate_Traffic_Volume_Final.csv", index=False)

## Metro PT

In [160]:
df = pd.read_csv("dataset/MetroPTDataset/MetroPT3.csv")

In [161]:
df.shape

(1516948, 17)

In [163]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [164]:
df.head()

,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses
0,2020-02-01 00:00:00,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
1,2020-02-01 00:00:10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
2,2020-02-01 00:00:19,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
3,2020-02-01 00:00:29,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
4,2020-02-01 00:00:39,-0.012,9.318,9.302,-0.022,9.318,53.475,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0

In [165]:
df.to_csv("dataset/MetroPTDataset/MetroPT3_final.csv", index=False)

## Retail

In [175]:
df1 = pd.read_csv("dataset/OnlineRetail/online_retail_II_0910.csv")
df2 = pd.read_csv("dataset/OnlineRetail/online_retail_II_1011.csv")

In [176]:
df1.shape, df2.shape

((525461, 8), (541910, 8))

In [177]:
df1.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/09 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/09 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/09 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/09 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/09 7:45,1.25,13085.0,United Kingdom

In [178]:
df2.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [179]:
df = pd.concat([df1, df2], ignore_index=True)

In [180]:
df.shape

(1067371, 8)

In [182]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/09 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/09 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/09 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/09 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/09 7:45,1.25,13085.0,United Kingdom

In [183]:
df.to_csv("dataset/OnlineRetail/online_retail_final.csv", index=False)

## Earthquake

In [184]:
df = pd.read_csv("dataset/SignificantEarthquakes/Earthquakes.csv")

In [195]:
df.shape

(23412, 7)

In [196]:
df.head()

         Date      Time  Latitude  Longitude  Depth  Magnitude Magnitude Type
0  01/02/1965  13:44:18    19.246    145.616  131.6        6.0             MW
1  01/04/1965  11:29:49     1.863    127.352   80.0        5.8             MW
2  01/05/1965  18:05:58   -20.579   -173.972   20.0        6.2             MW
3  01/08/1965  18:49:43   -59.076    -23.557   15.0        5.8             MW
4  01/09/1965  13:32:50    11.938    126.427   15.0        5.8             MW

In [194]:
df.drop(columns=["Type","Depth Error", "Depth Seismic Stations", "Magnitude Error", "Magnitude Seismic Stations", "Azimuthal Gap", "Horizontal Distance", "Horizontal Error", "Root Mean Square", "ID", "Source", "Location Source", "Magnitude Source", "Status"], inplace=True)

In [193]:
df.groupby("Location Source").count()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Magnitude Source,Status
Location Source,,,,,,,,,,,,,,,,,,,,
AEI,7,7,7,7,7,7,0,0,7,7,0,1,0,0,0,0,7,7,7,7
AEIC,40,40,40,40,40,40,0,35,40,40,0,4,28,0,0,0,40,40,40,40
AG,1,1,1,1,1,1,0,0,1,1,0,0,0,0,0,0,1,1,1,1
AGS,17,17,17,17,17,17,0,0,17,17,0,7,0,0,0,0,17,17,17,17
AK,14,14,14,14,14,14,13,1,14,14,1,0,1,0,12,14,14,14,14,14
ATH,14,14,14,14,14,14,2,11,14,14,0,0,11,0,1,2,14,14,14,14
ATLAS,3,3,3,3,3,3,0,0,3,0,0,0,0,0,0,0,3,3,3,3
B,2,2,2,2,2,2,0,0,2,2,0,0,0,0,0,0,2,2,2,2
BEO,1,1,1,1,1,1,0,1,1,1,0,0,1,0,0,0,1,1,1,1
BOU,1,1,1,1,1,1,0,0,1,1,0,0,0,0,0,0,1,1,1,1
BRK,1,1,1,1,1,1,0,0,1,1,0,1,0,0,0,0,1,1,1,1
CAR,1,1,1,1,1,1,0,1,1,1,0,0,1,0,0,0,1,1,1,1
CASC,4,4,4,4,4,4,0,1,4,4,0,0,1,0,0,0,4,4,4,4
CI,61,61,61,61,61,61,48,60,61,61,20,61,60,23,31,60,61,61,61,61
CSEM,1,1,1,1,1,1,0,1,1,1,0,0,1,0,0,0,1,1,1,1
G,2,2,2,2,2,2,0,0,2,2,0,0,0,0,0,0,2,2,2,2
GCMT,56,56,56,56,56,56,0,1,56,56,0,0,1,0,0,0,56,56,56,56
GUC,46,46,46,46,46,46,9,37,46,46,1,3,37,0,2,9,46,46,46,46
H,7,7,7,7,7,7,0,0,7,7,0,0,0,0,0,0,7,7,7,7
HVO,12,12,12,12,12,12,0,2,12,12,0,3,2,0,0,0,12,12,12,12
ISCGEM,2581,2581,2581,2581,2581,2581,0,0,2581,2581,0,0,0,0,0,0,2581,2581,2581,2581
ISK,15,15,15,15,15,15,0,14,15,15,0,3,13,0,0,0,15,15,15,15
JMA,3,3,3,3,3,3,0,3,3,3,0,0,3,0,0,0,3,3,3,3
LIM,1,1,1,1,1,1,0,1,1,1,0,0,1,0,0,0,1,1,1,1
MDD,2,2,2,2,2,2,0,2,2,2,0,0,2,0,0,0,2,2,2,2
NC,54,54,54,54,54,54,51,51,54,54,0,51,52,51,51,51,54,54,54,54
NN,4,4,4,4,4,4,4,4,4,4,4,4,4,4,1,4,4,4,4,4
OTT,1,1,1,1,1,1,0,0,1,1,0,0,0,0,0,0,1,1,1,1
PGC,19,19,19,19,19,19,1,11,19,19,0,0,2,0,0,1,19,19,19,19
PR,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ROM,7,7,7,7,7,7,0,7,7,7,0,0,6,0,0,0,7,7,7,7
RSPR,3,3,3,3,3,3,0,3,3,3,0,0,3,0,0,0,3,3,3,3
SE,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1,1
SJA,1,1,1,1,1,1,0,1,1,1,0,0,1,0,0,0,1,1,1,1
SLC,1,1,1,1,1,1,0,0,1,1,0,1,0,0,0,0,1,1,1,1
SPE,10,10,10,10,10,10,0,0,10,10,0,6,0,0,0,0,10,10,10,10
TAP,1,1,1,1,1,1,0,1,1,1,0,0,1,0,0,0,1,1,1,1
TEH,7,7,7,7,7,7,4,3,7,7,3,2,3,0,1,4,7,7,7,7
THE,3,3,3,3,3,3,1,1,3,3,0,0,1,0,1,1,3,3,3,3
THR,3,3,3,3,3,3,0,3,3,3,0,0,3,0,0,0,3,3,3,3
TUL,2,2,2,2,2,2,1,1,2,2,0,0,2,0,1,1,2,2,2,2
U,1,1,1,1,1,1,0,0,1,1,0,0,0,0,0,0,1,1,1,1
UCR,1,1,1,1,1,1,0,1,1,1,0,0,1,0,0,0,1,1,1,1
UNM,21,21,21,21,21,21,4,17,21,21,0,0,17,0,3,4,21,21,21,21
US,20350,20350,20350,20350,20350,20350,4311,6796,20350,20350,291,2408,7014,1523,1044,17189,20350,20350,20350,20350
US_WEL,4,4,4,4,4,4,4,0,4,4,1,0,0,0,0,4,4,4,4,4
UW,6,6,6,6,6,6,6,6,6,6,5,6,6,2,6,6,6,6,6,6
WEL,18,18,18,18,18,18,0,18,18,18,0,1,18,0,0,0,18,18,18,18

In [188]:
df["Depth Seismic Stations"].isnull().sum()

16315

In [189]:
df["Magnitude Error"].isnull().sum()

23085

In [190]:
df["Magnitude Seismic Stations"].isnull().sum()

20848